notifications:
  email: false

sudo: false

addons:
  postgresql: 9.4

services:
  - postgresql
  - redis
  - rabbitmq

language: python

cache:
  - pip

env:
  global:
    - ES6_DOWNLOAD_URL="https://artifacts.elastic.co/downloads/elasticsearch/elasticsearch-6.8.1.tar.gz"
    - ES7_DOWNLOAD_URL="https://artifacts.elastic.co/downloads/elasticsearch/elasticsearch-7.2.0-linux-x86_64.tar.gz"
    - ES_HOST=127.0.0.1
  matrix:
    # ES6 + PostgreSQL
    - REQUIREMENTS=release EXTRAS=all,postgresql,elasticsearch6,tests SQLALCHEMY_DATABASE_URI="postgresql+psycopg2://postgres@localhost:5432/invenio" ES_URL=$ES6_DOWNLOAD_URL
    # ES7 + PostgreSQL
    - REQUIREMENTS=release EXTRAS=all,postgresql,elasticsearch7,tests SQLALCHEMY_DATABASE_URI="postgresql+psycopg2://postgres@localhost:5432/invenio" ES_URL=$ES7_DOWNLOAD_URL DEPLOY=true

python:
  - "3.6"
  - "3.7"

matrix:
  fast_finish: true
#  allow_failures:
#    - env: REQUIREMENTS=release EXTRAS=all,postgresql,elasticsearch6 SQLALCHEMY_DATABASE_URI="postgresql+psycopg2://postgres@localhost:5432/invenio" ES_URL=$ES6_DOWNLOAD_URL

before_install:
  - "mkdir /tmp/elasticsearch"
  - "wget -O - ${ES_URL} | tar xz --directory=/tmp/elasticsearch --strip-components=1"
  - "/tmp/elasticsearch/bin/elasticsearch > /tmp/local-es.log &"
  - "travis_retry pip install --upgrade pip setuptools py"
  - "travis_retry pip install twine wheel coveralls requirements-builder"
  - "requirements-builder -e $EXTRAS --level=min setup.py > .travis-lowest-requirements.txt"
  - "requirements-builder -e $EXTRAS --level=pypi setup.py > .travis-release-requirements.txt"
  - "psql -c 'CREATE DATABASE invenio;' -U postgres"

install:
  - "travis_retry pip install -r .travis-${REQUIREMENTS}-requirements.txt"
  - "travis_retry pip install -e .[${EXTRAS}]"

script:
  - /tmp/elasticsearch/bin/elasticsearch --version
  - wget -q --waitretry=1 --retry-connrefused -T 10 -O - http://127.0.0.1:9200 || cat /tmp/local-es.log
  - "./run-tests.sh"

after_success:
  - coveralls

deploy:
  provider: pypi
  user: "__token__"
  password:
    secure: "CMcphJspwvPXZse8X5BIUDSrPWFS4MmrA60y6SwWJG31gsw6i3WEsNDCoUf0h6ckvTAbQdwg3bNMM+PtqAWGuLD2ZwMMOXtZeIhvueNpseznbDK2JCyXBKhO7qq9l0avYWgpHyDU3xlJE8FHhR9Vys0Z/0KUFR5sUlecJahtfaEirYwRfQO1fTqg3+8OEc+S1rHftoizPnQhdqBZkl7H1tzitfg3a8vcA6kode85w0sXzaA/QKKjLmN07yVw0BFbWugzuNTrHZdfHBLp/8/KaqZ247C8yOkJVqzUDHDYkkROapBciNycZ/iRbL8N1s6NsAmjjnOFS+WEJQkPMGuCcognh9Dsf/Wk5/+i/WDwZY0xj3QQHO4THEIKvepLZfCPrWH+m18zOn1OfDF6vb6urssR1attO6CzDdcjNHWJxbGjWEwg4IMAiL+IrZMo+4ENuPJq4yqX6HTTo1BfdPO2Bph0Tr7yIchMhS+8maso2XZ8lOUt1JIL4lWcZ0uqsRtJfBDEV5NYJevkXSX/Ct2hxbn05asVF4Jq/jhSi8U+BmuqIEJU5QucDAziLuAWCZ+Q0VkUZijEGOfvVVQd6h/8uaYs6t+fIgUlUKoDgGofSbwokkMV1sfE5vd6IXA5huTiexFmrC/RTcVyeYi6xusakQFJBO/k8R2gOpxcXaOq+Z8="
  on:
    tags: true
  distributions: "sdist bdist_wheel"
  skip_existing: true

