recursive-include oarepo *.py *.json
include LICENSE
exclude tests/*
exclude *.sh
exclude pytest.ini
exclude scripts/*.sh

include oarepo/requirements-tests.txt
include oarepo/assets/semantic-ui/.gitkeep
